<div class="container">
	<div class="jumbotron text-center">
		<h1 class="display-4"> YUM! Ice Cream!! </h1>
	</div>


	<div class="container1">
			<div class=" col-md-12 text-center" class="task">
			<h2> Devoured Flavors </h2>
			<br>
			{{#each icecream_data}}
			{{#if this.devoured}}
			<input class="form-control devoured-box" type="text" placeholder="{{this.id}} . {{this.icecream_name}}"
	readonly>
			
			{{/if}}
			{{/each}}
		</div>
<br>
		<div class=" available col-md-12 text-center" class="task">
			<h2> Available Flavors</h2>
			<br>
			
			{{#each icecream_data}}
			{{#unless this.devoured}}
			<div class="available col-md-12 text-center">
				<pre>{{this.id}}. {{this.icecream_name}}
					</pre>
			</div>
			<div class="col-md-12 text-center">
					<form class="devour-form button-size">
						<input type="hidden" class="icecream_id" type="text" value={{this.id}}><br>
						<button type="submit" class="btn btn-primary">Devour it!</button>
					</form>
				</div>
			{{/unless}}
			{{/each}}
		</div>
	</div>
</div>





<div class="container3">
	<div class="row">
		<div class="col-md-12 enter_section">
			<form action="/icecream/create" method="POST">
				<input type="text" class="form-control" name="icecream_name" value="" id="enter_text">
				<button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
			</form>
			<p>Try a New Flavor!</p>
		</div>
	</div>
</div>